body {
    text-align: center;
    background: linear-gradient(to right, #ccc568, #5a5728);
    
}

h1{
  color: rgb(152, 5, 5);
}
input{
    font-size: 16px;
    padding: 8px;
}
button{
    padding: 6px 13px;
    font-size: 16px;
    background-color: beige;
}
footer{
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}